node_modules/
dist/
target/
*.sublime-*
npm-debug.log
coverage/
web/.classpath
web/.project
backend/.classpath
backend/.project
backend/.settings
js/libs/Cesium/
libs/Cesium/
package-lock.json
.vscode
